body {
	background-color: darkgray;
}

#title {
	text-align: center;
	font-size: 36px;
	text-decoration: none;
}

#console {
	background-color: black;
	border-style: double;
	border-color: white;
	color: white;
    width: auto;
    min-height: 75vh;
    max-height: 75vh;
}

#textbox {
    min-height: 72vh;
    max-height: 72vh;
    overflow-y: auto;
}

#writebox {
    background-color: black;
    color: white;
}

#links {
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}

.white {
	color: white;
}

.red {
	color: crimson;
}

.green {
	color: lightgreen;
}

.gold {
	color: gold;
}

.purple {
	color: magenta;
}