body {
	background-color: darkgray;
}

#title {
	text-align: center;
	font-size: 36px;
}

#console {
	background-color: black;
	border-style: double;
	border-color: white;
	color: white;
    width: auto;
}

#writebox {
    background-color: black;
    color: white;
}

.white {
	color: white;
}

.red {
	color: crimson;
}

.green {
	color: lightgreen;
}

.gold {
	color: gold;
}

.purple {
	color: magenta;
}